.App {
  text-align: center;
}

.bar-chart{
  display: inline-block;
}

.line-chart{
  display: inline-block;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 40px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.App-intro {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Raleway', sans-serif;
}

