.App {
  text-align: center;
}

.bar-chart{
  display: inline-block;
}

.line-chart{
  display: inline-block;
}
.button-get{
  border: solid black 2px;
  background-color: #01764B;
  color: white;
}
.button-get, .drop-down{
  width: 120px;
  height: 30px;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 20px 10px 60px 10px;
}
.footnote{
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  margin-top: 20px;
  height: 60px;
  padding: 10px;
  color: black;
}

.App-title {
  font-size: 50px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.App-intro {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Raleway', sans-serif;
}

